<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>569824412251-cq55ls4n9ic3s9h05ae0qc59d9r8plg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569824412251-cq55ls4n9ic3s9h05ae0qc59d9r8plg6</string>
	<key>API_KEY</key>
	<string>AIzaSyAcWfQljQhI16dW-mrvNQkDpsDry-Czf1M</string>
	<key>GCM_SENDER_ID</key>
	<string>569824412251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dtu.diplom.s175129.FlexicuV4</string>
	<key>PROJECT_ID</key>
	<string>flexicutest</string>
	<key>STORAGE_BUCKET</key>
	<string>flexicutest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569824412251:ios:bcc58e193034199e</string>
	<key>DATABASE_URL</key>
	<string>https://flexicutest.firebaseio.com</string>
</dict>
</plist>